.black-cell{
	background-color:black;
	color:white;
	text-align:center;
}
table{
	text-align:center;
	border:1px solid;
}
td{
	border:1px solid black;
	text-align:center
}
th{
		border:1px solid black;
}
tr{
		border:1px solid black;
}